<div class="page-header" style="background: url(assets/img/hero-area.jpg); background:cover ">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="breadcrumb-wrapper">
                  <h2 class="product-title">Category</h2>
                  <ol class="breadcrumb">
                      <li><a href="#">Home /</a></li>

                      <li class="current">Category</li>
                  </ol>
              </div>
          </div>
      </div>
  </div>
</div>




<section class="featured section-padding">
  <div class="container">
      <h1 class="section-title">Category Listing</h1>
      
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" *ngFor="let category of categoryList ; let i = index">
              <!-- <div class="featured-box">
                  <figure>

                      <a href="javaScript:Void(0)"><img class="img-fluid" [src]="services.image != null && imageBaseUrl+ services.image || 'assets/img/no-img.png'" alt=""></a>
                  </figure>
                  <div class="feature-content">
                      
                      <h4><a href="javaScript:Void(0)">{{services.name}}</a></h4>

                      <p class="dsc">{{services.description}}</p>

                  </div>
              </div> -->
         
              <a href="JavaScript:Void(0);" [routerLink]="['/category', category.slug]">
                <div class="category-icon-item">
                    <div class="icon-box">
                        <div class="icon">
                            <img [src]="category.image_small != '' && imageBaseUrl+ category.image_small || 'assets/img/no-image.png'" alt="">
                            
                        </div>
                        <h4>{{category.name}}</h4>
                    </div>
                </div>
            </a>
         
            </div>
        
      </div>
  </div>
</section>



