<div class="login-wrap">
  <div class="login-html">
      <a class="close" (click)="modalClose()">×</a>
    <h1>{{title}}</h1>
    <div class="login-form">
      <div class="sign-in-htm">
       
       
        <form role="form" [formGroup]="loginForm" novalidate (submit)="signIn()" *ngIf="!toggle_key">
          <div class="form-content">
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" placeholder="Enter your email" formControlName="email" [ngClass]="displayFieldCss(loginForm,'email')">
              <div class="invalid-feedback text-left" *ngIf="loginForm.controls['email'].hasError('pattern') && !loginForm.controls['email'].hasError('required')">
                Please enter a valid email address
              </div>
              <div class="invalid-feedback text-left" *ngIf="loginForm.controls['email'].hasError('required')">
                Email is required
              </div>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" name="password" class="form-control input-underline input-lg" placeholder="Password"
                formControlName="password" [ngClass]="displayFieldCss(loginForm,'password')">
              <div class="invalid-feedback text-left" *ngIf="isFieldValid(loginForm,'password')">
                Please enter password
              </div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-block" style="cursor: pointer;"> Sign In </button>
          </div>
        </form>  
        <form role="form" [formGroup]="signupForm" novalidate (submit)="signUp()" *ngIf="toggle_key && formType ==1">
          <div class="form-content" *ngIf="getOtp.length ==0">
            <div class="form-group">
              <label>Name</label>
              <input type="text" name="name" class="form-control input-underline input-lg" placeholder="User Name"
                formControlName="name" [ngClass]="displayFieldCss(signupForm,'name')">
              <div class="invalid-feedback text-left" *ngIf="isFieldValid(signupForm,'name')">
                Please enter name
              </div>
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" placeholder="Enter your email" formControlName="email" [ngClass]="displayFieldCss(signupForm,'email')">
              <div class="invalid-feedback text-left" *ngIf="signupForm.controls['email'].hasError('pattern') && !signupForm.controls['email'].hasError('required')">
                Please enter a valid email address
              </div>
              <div class="invalid-feedback text-left" *ngIf="signupForm.controls['email'].hasError('required')">
                Email is required
              </div>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" name="password" class="form-control input-underline input-lg" placeholder="Password"
                formControlName="password" [ngClass]="displayFieldCss(signupForm,'password')">
              <div class="invalid-feedback text-left" *ngIf="isFieldValid(signupForm,'password')">
                Please enter password
              </div>
            </div>

            <div class="form-group">
              <label>Contact Number</label>
              <input type="text" name="contact" class="form-control input-underline input-lg" placeholder="Contact Number"
                formControlName="contact" [ngClass]="displayFieldCss(signupForm,'contact')">
              <div class="invalid-feedback text-left" *ngIf="isFieldValid(signupForm,'contact')">
                Please enter Contact Number
              </div>
            </div>
           
          </div>

          <div class="form-content" *ngIf="getOtp.length > 0">
          <div class="form-group">
            <label>OTP </label>
            <input type="text" name="otp" class="form-control input-underline input-lg" placeholder="OTP"
              formControlName="otp" [ngClass]="displayFieldCss(signupForm,'otp')">
            <div class="invalid-feedback text-left" *ngIf="isFieldValid(signupForm,'password')">
              Please enter OTP
            </div>
        
            <a href="javascript:void(0)" (click)="resendOtpSignup()">Resend OTP</a>
          </div>
        </div>

          <div class="form-group">
            <button type="submit" class="btn btn-block"> Sign Up </button>
          </div>
        </form>
        <div *ngIf="toggle_key && formType==2">
        <form role="form" [formGroup]="forgotForm" novalidate (submit)="customerForgotPasswordOtp()" *ngIf="!showOtpSection && !newPwdSection" >
          <div class="form-content">
          
            <div class="form-group">
              <label>Contact Number</label>
              <input type="text" class="form-control" placeholder="Enter your Contact Number" formControlName="contact" [ngClass]="displayFieldCss(forgotForm,'contact')">
             
              <div class="invalid-feedback text-left" *ngIf="forgotForm.controls['contact'].hasError('required')">
                Contact Number is required
              </div>
            </div>
           
          </div>

          <!-- <div class="form-content" >
            <div class="form-group">
              <label>OTP </label>
              <input type="text" name="otp" class="form-control input-underline input-lg" placeholder="OTP"
                formControlName="otp" [ngClass]="displayFieldCss(forgotForm,'otp')">
          
          
          
            </div>
            <div class="form-group">
              <label>New Password </label>
              <input type="text" name="newpassword" class="form-control input-underline input-lg" placeholder="New Password "
                formControlName="newpassword" [ngClass]="displayFieldCss(forgotForm,'newpassword')">
            
 
            </div>
            <div class="form-group">
              <label>Confirm Password </label>
              <input type="password" name="confpassword" class="form-control input-underline input-lg" placeholder="Confirm Password"
                formControlName="confpassword" [ngClass]="displayFieldCss(forgotForm,'confpassword')">
            </div>
          </div> -->
          <div class="form-group">
            <button type="submit" class="btn btn-block" style="cursor: pointer;"> Forgot Password </button>
          </div>
        </form>

        <form role="form" [formGroup]="forgotOtpForm" novalidate (submit)="forgotPasswordOtp()" *ngIf="showOtpSection && !newPwdSection" >
          <div class="form-content">
          
            <div class="form-group">
              <label>OTP</label>
              <input type="text" class="form-control" placeholder="Enter your OTP" formControlName="otp" [ngClass]="displayFieldCss(forgotOtpForm,'otp')">
             
              <div class="invalid-feedback text-left" *ngIf="forgotOtpForm.controls['otp'].hasError('required')">
                OTP is required
              </div>
              <a href="javascript:void(0)" (click)="resendOtpForgot()">Resend OTP</a>
              
            </div>
           
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-block" style="cursor: pointer;"> Forgot Password </button>
          </div>
        </form>

        <form role="form" [formGroup]="forgotPasswordForm" novalidate (submit)="submitNewPwd()" *ngIf="newPwdSection" >
          <div class="form-content">
          
            <div class="form-group">
              <label>New Password</label>
              <input type="password" class="form-control" placeholder="Enter New Password" formControlName="newpassword" [ngClass]="displayFieldCss(forgotPasswordForm,'newpassword')">
             
              <div class="invalid-feedback text-left" *ngIf="forgotPasswordForm.controls['newpassword'].hasError('required')">
               Please Enter New Password
              </div>
            </div>
            <div class="form-group">
              <label>Confirm Password</label>
              <input type="password" class="form-control" placeholder="Enter Confirm Password" formControlName="confpassword" [ngClass]="displayFieldCss(forgotPasswordForm,'confpassword')">
             
              <div class="invalid-feedback text-left" *ngIf="forgotPasswordForm.controls['confpassword'].hasError('required')">
               Please Enter Confirm Password
              </div>
            </div>
           
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-block" style="cursor: pointer;"> Forgot Password </button>
          </div>
        </form>

        
      </div>


        <!-- <button type="buton" class="btn btn-block" (click)="signInWithFB()">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          Login with Facebook
        </button>
        <button type="button" class="btn btn-block" (click)="signInWithGoogle()">
          <i class="fa fa-google" aria-hidden="true"></i>
          Login with Google
        </button> -->
        <a (click)="toggle()">{{toggle_btn}}</a>
        <br>
        <a (click)="toggle1()">{{toggle_btn1}}</a>
      </div>
    </div>
  </div>
</div>
