<div class="page-header" style="background: url(assets/img/hero-area.jpg); background:cover ">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-wrapper">
          <h2 class="product-title">My Profile</h2>
          <ol class="breadcrumb">
            <li><a href="#">Home /</a></li>
            <li>My Profile </li>
            <!-- <li class="current">Wax & Groom</li> -->
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="content" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-3 page-sidebar">
        <!-- Left Sidebar Import Here -->
        <app-myprofile-sidebar></app-myprofile-sidebar>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-9">
        <div class="page-content bg-light">
          <div class="inner-box">
            <div class="inner-box">
              <div class="dashboard-box">
                <h2 class="dashbord-title">Profile Settings</h2>
              </div>
              <div class="dashboard-wrapper" *ngIf="!editProfile">
                  <div class="row">
                      <div class="form-group mb-12 col-md-12">
                      
                        <i (click)="showEditProfile()" class="fa fa-pencil-square-o edit-icon" aria-hidden="true"></i> 
                        </div>
                  </div>
                <div class="row">
                  <div class="form-group mb-3 col-md-4">
                    <label class="control-label">Name:</label>
                    
                  <div>{{profileDetails.name}}</div>  
                   </div>

                  <div class="form-group mb-3 col-md-4">
                    <label class="control-label">Phone Nunber:</label>
                    <div>{{profileDetails.contact}}</div>  
                  </div>

                  <div class="form-group mb-3 col-md-4">
                    <label class="control-label">Email:</label>
                    <div>{{profileDetails.email}}</div>  
                  </div>
                </div>


              </div>

              <div class="dashboard-wrapper" *ngIf="editProfile">
                  <form role="form" [formGroup]="editForm" novalidate (submit)="updateProfile()">
                <div class="row">
                   
                  <div class="form-group mb-3 col-md-6">
                    <label class="control-label">Name:</label>
                   
                    <input type="text" name="name" class="form-control input-md" placeholder="User Name"
                  formControlName="name" [(ngModel)]="profileDetails.name" [ngClass]="displayFieldCss(editForm,'name')">
                <div class="invalid-feedback text-left" *ngIf="isFieldValid(editForm,'name')">
                  Please enter name
                </div>
                  </div>

                  <div class="form-group mb-3 col-md-6">
                    <label class="control-label">Phone Nunber:</label>
                    <input type="text" [(ngModel)]="profileDetails.contact" name="contact"class="form-control input-md" placeholder="Contact Number"
                    formControlName="contact" [ngClass]="displayFieldCss(editForm,'contact')">
                  <div class="invalid-feedback text-left" *ngIf="isFieldValid(editForm,'contact')">
                    Please enter Contact Number
                  </div>
                    
                  </div>

                  <div class="form-group mb-3 col-md-6">
                    <label class="control-label">Email:</label>
                    <input type="email" [(ngModel)]="profileDetails.email" class="form-control input-md" placeholder="Enter your email" formControlName="email" [ngClass]="displayFieldCss(editForm,'email')">
                    <div class="invalid-feedback text-left" *ngIf="editForm.controls['email'].hasError('pattern') && !editForm.controls['email'].hasError('required')">
                      Please enter a valid email address
                    </div>
                    <div class="invalid-feedback text-left" *ngIf="editForm.controls['email'].hasError('required')">
                      Email is required
                    </div>
                  </div>

                   <div class="form-group mb-3 col-md-4">
                    <label class="tg-fileuploadlabel" for="tg-photogallery">
                      <span>Drop files anywhere to upload</span>

                      <span class="btn btn-common">Browse image</span>

                      <!-- <input id="tg-photogallery" class="tg-fileinput"  type="file" name="profile_image" formControlName="profile_image" (change)="profileImageChange($event.target.files)"> -->
                     <input id="tg-photogallery" class="tg-fileinput" (change)="onFileChange($event)"  type="file" name="profile_image" formControlName="profile_image">
                     {{profileImage.name}}
                    </label>

                  </div> 
                  <div class="form-group mb-3 col-md-4">
                    <input type="submit" class="btn btn-common" value="Update">

                    <!-- <a href="#" class="btn btn-common">Submit</a> -->
                  </div>

                  

                </div>

              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>