 <div class="login-wrap">
    <div class="login-html">
      <h1>{{title}}</h1>
      <div class="login-form">
        <div class="sign-in-htm">
         
         
          <form role="form" [formGroup]="addressForm" novalidate (submit)="addAdress()" *ngIf="!toggle_key">
            <div class="form-content">
              <div class="form-group">
                <label>Name</label>
                <input type="text" name="type" class="form-control input-underline input-lg" placeholder="Name : Home "
                  formControlName="type" [ngClass]="displayFieldCss(addressForm,'type')">
                <div class="invalid-feedback text-left" *ngIf="isFieldValid(addressForm,'type')">
                  Please enter Name
                </div>
              </div>
              <div class="form-group">
                <label>Address</label>
                <input type="text" name="address" class="form-control input-underline input-lg" placeholder="Address"
                  formControlName="address" [ngClass]="displayFieldCss(addressForm,'address')">
                <div class="invalid-feedback text-left" *ngIf="isFieldValid(addressForm,'address')">
                  Please enter Address
                </div>
              </div>
              <div class="form-group">
                <label>Pin Code</label>
                <input type="text" name="pincode" class="form-control input-underline input-lg" placeholder="Pincode"
                  formControlName="pincode" [ngClass]="displayFieldCss(addressForm,'pincode')">
                <div class="invalid-feedback text-left" *ngIf="isFieldValid(addressForm,'pincode')">
                  Please enter Pin Code
                </div>
              </div>
              <div class="form-group">
                <label>State</label>
                  <!-- <input type="text" name="state_id" class="form-control input-underline input-lg" placeholder="state"
                  formControlName="state_id" [ngClass]="displayFieldCss(addressForm,'state_id')"> -->
                
              <select class="form-control"  name="state_id" formControlName="state_id" [ngClass]="displayFieldCss(addressForm,'state_id')">
                <option value="">Select State</option>
                <option *ngFor="let state of stateList;" value="{{state.id}}">{{state.state_name}}</option>
              </select>
              <div class="invalid-feedback text-left" *ngIf="isFieldValid(addressForm,'state_id')">
                Please Select State
              </div>
              
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-block" style="cursor: pointer;"> Submit </button>
            </div>
          </form>
         
  
       
        </div>
      </div>
    </div>
  </div>


  