<div class="login-wrap">
    <div class="login-html">
        <a class="close" (click)="modalClose()">×</a>
      <h1>{{title}}</h1>
      <div class="login-form">
        <div class="sign-in-htm">
         
         
          <form role="form" [formGroup]="loginForm" novalidate (submit)="signIn()" *ngIf="toggle_key">
            <div class="form-content">
              <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="Enter your email" formControlName="email" [ngClass]="displayFieldCss(loginForm,'email')">
                <div class="invalid-feedback text-left" *ngIf="loginForm.controls['email'].hasError('pattern') && !loginForm.controls['email'].hasError('required')">
                  Please enter a valid email address
                </div>
                <div class="invalid-feedback text-left" *ngIf="loginForm.controls['email'].hasError('required')">
                  Email is required
                </div>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control input-underline input-lg" placeholder="Password"
                  formControlName="password" [ngClass]="displayFieldCss(loginForm,'password')">
                <div class="invalid-feedback text-left" *ngIf="isFieldValid(loginForm,'password')">
                  Please enter password
                </div>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-block"> Sign In </button>
            </div>
          </form>
          <form role="form" [formGroup]="signupForm" novalidate (submit)="signUp()" *ngIf="!toggle_key">
            <div class="form-content" *ngIf="getOtp.length ==0">
              <div class="form-group">
                <label>Name</label>
                <input type="text" name="name" class="form-control input-underline input-lg" placeholder="User Name"
                  formControlName="name" [ngClass]="displayFieldCss(signupForm,'name')">
                <div class="invalid-feedback text-left" *ngIf="isFieldValid(signupForm,'name')">
                  Please enter name
                </div>
              </div>
              <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="Enter your email" formControlName="email" [ngClass]="displayFieldCss(signupForm,'email')">
                <div class="invalid-feedback text-left" *ngIf="signupForm.controls['email'].hasError('pattern') && !signupForm.controls['email'].hasError('required')">
                  Please enter a valid email address
                </div>
                <div class="invalid-feedback text-left" *ngIf="signupForm.controls['email'].hasError('required')">
                  Email is required
                </div>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control input-underline input-lg" placeholder="Password"
                  formControlName="password" [ngClass]="displayFieldCss(signupForm,'password')">
                <div class="invalid-feedback text-left" *ngIf="isFieldValid(signupForm,'password')">
                  Please enter password
                </div>
              </div>

              <div class="form-group">
                <label>Contact Number</label>
                <input type="text" name="contact" class="form-control input-underline input-lg" placeholder="Contact Number"
                  formControlName="contact" [ngClass]="displayFieldCss(signupForm,'contact')">
                <div class="invalid-feedback text-left" *ngIf="isFieldValid(signupForm,'contact')">
                  Please enter Contact Number
                </div>
              </div>
             
            </div>

            <div class="form-content" *ngIf="getOtp.length > 0">
            <div class="form-group">
              <label>OTP </label>
              <input type="text" name="otp" class="form-control input-underline input-lg" placeholder="OTP"
                formControlName="otp" [ngClass]="displayFieldCss(signupForm,'otp')">
              <div class="invalid-feedback text-left" *ngIf="isFieldValid(signupForm,'password')">
                Please enter OTP
              </div>
              <!-- <div class="invalid-feedback text-left" *ngIf="isFieldValid(signupForm,'password')">
                Please enter OTP
              </div> -->
              <a href="javascript:void(0)" (click)="resendOtp()">Resend OTP</a>
            </div>
          </div>

            <div class="form-group">
              <button type="submit" class="btn btn-block"> Sign Up </button>
            </div>
          </form>
          <a (click)="toggle()" href="javascript:void(0)">{{toggle_btn}}</a>
        </div>
      </div>
    </div>
  </div>
  