<div class="page-header" style="background: url(assets/img/hero-area.jpg); background:cover ">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-wrapper">
          <h2 class="product-title">Cart</h2>
          <ol class="breadcrumb">
            <li><a href="#">Home /</a></li>
            <li>My Orders</li>
            <!-- <li class="current">Wax & Groom</li> -->
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="content" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-3 page-sidebar">
        <!-- Left Sidebar Import Here -->
        <app-myprofile-sidebar></app-myprofile-sidebar>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-9">
        <div class="page-content bg-light">
        <div class="inner-box">
            <div class="dashboard-box">
        <h2 class="dashbord-title">Order History</h2>
        </div>
           <table class="table table-responsive dashboardtable tablemyads">
        <thead>
        <tr>
        
        <th>Product</th>
        <th>Title</th>
        <th>Category</th>
        <th>Product Quantity</th>
        <th>Price</th>
        <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr data-category="active">
        
        <td class="photo"><img class="img-fluid" src="assets/img/img1.jpg" alt=""></td>
        <td data-title="Title">
        <h3>Party Make-up Artists in Kolkata</h3>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis.</span>
        </td>
        <td data-title="Category"><span class="adcategories">Beauty &amp; Spa</span></td>
        <td data-title="Ad Status"><b>Qty 2</b></td>
        <td data-title="Price">
        <h3>₹139</h3>
        </td>
        <td data-title="Action">
          <div class="btns-actions">
            <span class="adstatus btn-view">successfully placed</span>
            </div>
        </td>
        </tr>
        <tr data-category="active">
        
        <td class="photo"><img class="img-fluid" src="assets/img/img1.jpg" alt=""></td>
        <td data-title="Title">
        <h3>Jvc Haebr80b In-ear Sports Headphones</h3>
        <span>Ad ID: ng3D5hAMHPajQrM</span>
        </td>
        <td data-title="Category">Electronics</td>
        <td data-title="Ad Status"><b>Qty 2</b></td>
        <td data-title="Price">
        <h3>$189</h3>
        </td>
        <td data-title="Action">
        <div class="btns-actions">
        
            <span class="adstatus btn-pending">Pending</span>
        </div>
        </td>
        </tr>
          
        <tr data-category="sold">
        
        <td class="photo"><img class="img-fluid" src="assets/img/img1.jpg" alt=""></td>
        <td data-title="Title">
        <h3>Apple iPhone X, Fully Unlocked 5.8", 64 GB - Black</h3>
        <span>Ad ID: ng3D5hAMHPajQrM</span>
        </td>
        <td data-title="Category">Mobile</td>
        <td data-title="Ad Status"><b>Qty 2</b></td>
        <td data-title="Price">
        <h3>$89</h3>
        </td>
        <td data-title="Action">
          <div class="btns-actions">
        
            <span class="adstatus btn-pending">Pending</span>
        </div>
        </td>
        </tr>
            
        
        </tbody>
        </table> 
           <hr> 
            
          
        </div>
        </div>
        </div>
    </div>
  </div>
</div>