 
<div class="page-header" style="background: url(assets/img/hero-area.jpg); background:cover ">
  <div class="container">
  <div class="row">
  <div class="col-md-12">
  <div class="breadcrumb-wrapper">
  <h2 class="product-title">Cart</h2>
  <ol class="breadcrumb">
  <li><a href="#">Home /</a></li>
  <li>Beauty & Spa /</li>
  <li class="current">Wax & Groom</li>
  </ol>
  </div>
  </div>
  </div>
  </div>
  </div>
  
  <div id="content" class="section-padding">
  <div class="container">
  <div class="row">
     
  <div class="col-sm-12 col-md-12 col-lg-12">
  <div class="page-content">
  <div class="inner-box  bg-light">
  <div class="dashboard-box">
  <h2 class="dashbord-title">Cart</h2>
  </div>
  <div class="dashboard-wrapper" *ngIf="customer_cart_data.length > 0">
  <!-- <div class="dashboard-sections">
  <div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
  <div class="dashboardbox">
  <div class="icon"><i class="fa fa-thumb-tack" aria-hidden="true"></i></div>
  <div class="contentbox  text-center">
  <h2><a href="#">Delivery Location</a></h2>
  <h3>Shyam Towers, EN-32, Salt Lake, Sector-V,
  Kolkata - 700 091</h3>
  </div>
  </div>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
  <div class="dashboardbox  text-center">
  <div class="icon"><i class="fa fa-th-list" aria-hidden="true"></i></div>
  <div class="contentbox">
  <h2><a href="#">product listing</a></h2>
  <h3>100+ Posted</h3>
  </div>
  </div>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
  <div class="dashboardbox text-center">
  <div class="icon"><i class="fa fa-certificate" aria-hidden="true"></i></div>
  <div class="contentbox">
  <h2><a href="#">Offers / Messages</a></h2>
  <h3>2040 Messages</h3>
  </div>
  </div>
  </div>
  </div>
  </div> -->
  <table class="table table-responsive dashboardtable tablemyads">
  <thead>
  <tr>
  <th>
  <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="checkedall">
  <label class="custom-control-label" for="checkedall"></label>
  </div>
  </th>
  <th>Image</th>
  <th>Title</th>
  <th>Product Quantity</th>
  <th>Price</th>
  <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr data-category="active" *ngFor="let cartData of customer_cart_data ; let i = index">
  <td>
  <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="adone">
  <label class="custom-control-label" for="adone"></label>
  </div>
  </td>
  <td class="photo"><img class="img-fluid" [src]="cartData.image != null && imageBaseUrl+ cartData.image || 'assets/img/no-img.png'" alt=""></td>
  <td data-title="Title">
  <h3>{{cartData.package_name}}</h3>
  <span class="dsc" [innerHTML]="cartData.description"></span>
  </td>
  <td data-title="Ad Status">
      <form  class="plus-minas float-right"  method="POST" action="#">
  <input (click)="decrement(i)" type="button" value="-" class="qtyminus" field="quantity"><input type="text" name="quantity" value="{{cartData.quantity}}" class="qty"><input (click)="increment(i)" type="button" value="+" class="qtyplus" field="quantity">
  </form>
  <!-- <div (click)="addtoCart(package)" *ngIf="!cartData.isCart" class="add-btn"><span class="add-text">Add</span><span class="plus">+</span></div> -->
</td>
  <td data-title="Price">
  <h3>₹ {{cartData.quantity * cartData.price}}</h3>
  </td>
  <td data-title="Action">
  <div class="btns-actions">
  
  <a (click)="remove(cartData.package_id)" class="btn-action btn-delete" href="javascript:void(0)"><i class="fa fa-trash" aria-hidden="true"></i></a>
  </div>
  </td>
  </tr>

      
  
  </tbody>
  </table>

  <!-- <a [routerLink]="['/checkout']">Checkout</a> -->
  <button  class="btn btn-common"(click)="gotoCheckoutpage()" type="button">Check Out</button>
  </div>
  <div class="dashboard-wrapper" *ngIf="customer_cart_data.length == 0">
    <p class="no-records">No Records Found....</p>
  </div>

  </div>
  </div>
  </div>
  </div>
  </div>
  </div>